{% include 'header.html' %}

    <!-- Flights -->
    <main role="main" class="container">
    <div class="row">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h3>Credits</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            Thanks to <b><a href="https://bitbucket.org/hatrix/">Maël</a></b> for his nice <b><a href="https://bitbucket.org/hatrix/paragliding-logbook/src/master/">paragliding logbook</a></b> project. Pay him a visit on BitBucket!
        </div>
      </div>
    </div>
    </main>
    
{% include 'footer.html' %}
