{% include 'header.html' %}

    <!-- Flights -->
    <main role="main" class="container">
    {% for flight in flights %}
      <div class="card mb-4 box-shadow" id="flight{{ flight.number }}">
        <div class="card-header">
          <a href="#flight{{ flight.number }}"><h3>Flight n°{{ flight.number }}</h3></a>
        </div>

				<div class="row">
					<div class="col-sm-6">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><h6>Date</h6> <p>{{ flight.date }}</p></li>
                <li><h6>Location</h6> <p>{{ flight.location }}</p></li>
                <li><h6>Take Off</h6> <p>{{ flight.take_off }}</p></li>
                <li><h6>Landing</h6> <p>{{ flight.landing }}</p></li>
              </ul>
						</div>
					</div>
					<div class="col-sm-6">
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><h6>Duration</h6> <p>{{ flight.duration }} mins</p></li>
                <li><h6>Elevation</h6> <p>{{ flight.elevation }}m</p></li>
                <li><h6>Wing</h6> <p>{{ flight.canopy }}</p></li>
                <li><h6>ICS/GPX</h6> <p>{{ flight.gpx }}</p></li>
              </ul>
            </div>
					</div>
				</div>

        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li class="text-center"> <p>{{ flight.notes | replace('\n', '<br>') }}</p></li>
          </ul>
        </div>
      </div>
    {% endfor %}

    </main>

{% include 'footer.html' %}
