{% include 'header.html' %}

    <!-- Flights -->
    <main role="main" class="container">
    <div class="row">
    {% for l in licenses %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h3>{{ l.name | replace('_', ' ') | upper }}</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li><h6>Date:</h6> <p>{{ l.date }} </p></li>
              <li><h6>Location:</h6> <p>{{ l.loc }} </p></li>
              <li><h6>Number:</h6> <p>{{ l.number }} </p></li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    </main>
    
{% include 'footer.html' %}
