{% include 'header.html' %}

    <!-- Flights -->
    <main role="main" class="container">
    <div class="row">
    {% for field, numbers in stats.items() | sort if field != "flight_time" %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h3>{{ field | replace('_', ' ') | title }}</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
            {% for type, num, duration in numbers | sort(attribute=1) | reverse %}
            {% if num > 1 %}
              <li><h6>{{ type }}</h6> <p>{{ num }} flights / {{ duration.0 }}h{{ duration.1 }}</p></li>
            {% else %}
              <li><h6>{{ type }}</h6> <p>{{ num }} flight / {{ duration.0 }}h{{ duration.1 }}</p></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}

    <!-- Flight time -->
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h3>Flight Time</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li><h6>Time spent flying</h6> <p>{{ stats.flight_time.0 }}h{{ stats.flight_time.1 }}</p></li>
          </ul>
        </div>
      </div>
    </div>
    
    </div>


    </main>
    
{% include 'footer.html' %}
